[Desktop Entry]
Name=Sieve Editor
Name[ar]=محرّر «سِڤ»
Name[bs]=Sieve uređivač
Name[ca]=Editor de «Sieve»
Name[ca@valencia]=Editor de «Sieve»
Name[cs]=Editor Sieve
Name[da]=Sieve-editor
Name[de]=Sieve-Editor
Name[el]=Επεξεργαστής Sieve
Name[en_GB]=Sieve Editor
Name[es]=Editor de Sieve
Name[et]=Sieve redaktor
Name[fi]=Sieve-muokkain
Name[fr]=Éditeur Sieve
Name[gl]=Editor de Sieve
Name[hu]=Sieve szerkesztő
Name[ia]=Editor de Sieve
Name[it]=Editor Sieve
Name[ko]=Sieve 편집기
Name[nb]=Sieve-redigering
Name[nds]=Sieve-Editor
Name[nl]=Sieve-bewerker
Name[pl]=Edytor Sieve
Name[pt]=Editor do Sieve
Name[pt_BR]=Editor do Sieve
Name[ru]=Редактор фильтров Sieve
Name[sk]=Editor Sieve
Name[sl]=Urejevalnik Sieve
Name[sr]=Сито уређивач
Name[sr@ijekavian]=Сито уређивач
Name[sr@ijekavianlatin]=Sito uređivač
Name[sr@latin]=Sito uređivač
Name[sv]=Sieve-editor
Name[tr]=Sieve Düzenleyici
Name[uk]=Редактор фільтрів
Name[x-test]=xxSieve Editorxx
Name[zh_CN]=筛选编辑器
Name[zh_TW]=過濾編輯器
Type=Application
Exec=sieveeditor
Icon=kmail
X-DocPath=sieveeditor/index.html
GenericName=Editor for email filter Sieve scripts
GenericName[ca]=Editor per als scripts de «Sieve» de filtratge de correu
GenericName[ca@valencia]=Editor per als scripts de «Sieve» de filtratge de correu
GenericName[en_GB]=Editor for email filter Sieve scripts
GenericName[es]=Editor para filtrado de correo con giones Sieve
GenericName[fi]=Sähköpostin Sieve-komentosarjamuokkain
GenericName[fr]=Éditeur de scripts « Sieve » de filtrage de courriels
GenericName[it]=Editor di script per i filtri Sieve della posta elettronica
GenericName[ko]=이메일 필터 Sieve 스크립트 편집기
GenericName[nl]=Bewerker voor Sieve-scripts met e-mailfilters
GenericName[pl]=Edytor dla skryptów filtrów pocztowych Sieve
GenericName[pt]=Editor de programas de filtros de e-mail Sieve
GenericName[pt_BR]=Editor de scripts Sieve para filtro de e-mail
GenericName[sv]=Editor av Sieve-skript för filtrering av e-post
GenericName[uk]=Редактор скриптів фільтрування електронної пошти
GenericName[x-test]=xxEditor for email filter Sieve scriptsxx
Comment=Edit IMAP Sieve filters
Comment[ar]=حرّر مرشّحات «سِڤ» IMAP
Comment[ca]=Edita els filtres «Sieve» per a IMAP
Comment[ca@valencia]=Edita els filtres «Sieve» per a IMAP
Comment[cs]=Upravit filtry IMAP Sieve
Comment[de]=IMAP-Sieve-Filter bearbeiten
Comment[en_GB]=Edit IMAP Sieve filters
Comment[es]=Editar filtros IMAP de Sieve
Comment[fi]=Muokkaa IMAPin Sieve-suodattimia
Comment[fr]=Modifier les filtres Sieve IMAP
Comment[gl]=Editar os filtros de Sieve de IMAP.
Comment[it]=Modifica i filtri Sieve per IMAP
Comment[ko]=IMAP Sieve 필터 편집
Comment[nl]=IMAP Sievefilters bewerken
Comment[pl]=Edytuj filtry IMAP Sieve
Comment[pt]=Editar os filtros Sieve de IMAP
Comment[pt_BR]=Editar os filtros Sieve do IMAP
Comment[ru]=Редактирование фильтров Sieve для IMAP
Comment[sk]=Upraviť filtre IMAP Sieve
Comment[sl]=Uredi filtre Sieve za IMAP
Comment[sr]=Уређујте сито филтере за ИМАП
Comment[sr@ijekavian]=Уређујте сито филтере за ИМАП
Comment[sr@ijekavianlatin]=Uređujte sito filtere za IMAP
Comment[sr@latin]=Uređujte sito filtere za IMAP
Comment[sv]=Redigera IMAP Sieve-filter
Comment[tr]=IMAP Sieve süzgeçlerini düzenle
Comment[uk]=Редагувати фільтри IMAP
Comment[x-test]=xxEdit IMAP Sieve filtersxx
Comment[zh_CN]=编辑 IMAP 筛选过滤器
Comment[zh_TW]=編輯 IMAP 篩選器
Terminal=false
Categories=Qt;KDE;Office;Network;X-KDE-Sieve;
InitialPreference=10
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.sieveeditor
